NODE_ENV=development
PORT=5000
API_VERSION=v1

# MongoDB
MONGODB_URI=

# Redis
REDIS_URL=

# Neo4j
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=30d

# CORS
FE_CLIENT_DOMAIN=http://localhost:3000
FE_ADMIN_DOMAIN=

# Cloudinary
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_SECRET_KEY=
